/* DoubtCard.css */
.doubt-card {

  display: flex;
  
  width: 80%;
  background-color: #2e2147; /* Dark purple background color */
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
  margin-left: 16px;
  border: 2px solid #4b3674; /* Purple border color */
}

.avatar-container {
  margin-right: 16px;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.content {
  color: #ffffff; /* White text color */
}

.title {
  margin: 0;
}

.details {
  margin-top: 8px;
}

.details p {
  margin: 8px 0;
}

button {
  background-color: #6a57af; /* Purple button background color */
  color: #ffffff; /* White text color */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #8c74c6; /* Darker purple on hover */
}
