.doubtCardContainer{
    height: 50vh;
    width: 400px;
    background: yellow;
    overflow: scroll;
    scrollbar-color: transparent;
}
.doubtCardContainer ::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-thumb{
    background: transparent;
    border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover{
    background: transparent;
}